__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
.env
.env.*
.venv/
venv/
*.sqlite3
.DS_Store
.idea/
.vscode/
*.db

backend/__pycache__/
backend/*.pyc
backend/instance/
backend/.env

frontend/__pycache__/
frontend/*.pyc
frontend/.streamlit/secrets.toml
frontend/.env

poetry.lock
Pipfile.lock

*.tmp
*.bak
*.swp
build/
dist/
*.ipynb_checkpoints/